.form-box {
	background-color: ghostwhite;
	padding: 50px;
	width: 70%;
	height: 500px;
	margin: 0 auto;
}

.description-box {
	height: 100px;
}

.box-prop {
	height: 100px;
}

.newprop-title {
	margin: 30px;
}

.submit-btn {
	margin-top: 150px;
}