.box {
	height: 150px;
	width: 150px;
	background-color: rgb(255, 255, 177);
	margin: 50px 90px;
	text-align: center;
	padding: 40px 30px;
	border-radius: 10px;
	/* border-style: solid;
	border-color: rgb(58, 58, 58); */
	box-shadow: 5px 5px 5px 3px rgba(63, 120, 206, 0.2);
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 20px 200px;
	align-items: center;
}

.box:hover {
	background-color: rgb(245, 245, 0);
}

.link {
	color: black;
}

.link:hover {
	text-decoration: none;
	color: rgb(36, 138, 221);
}

.box-image {
	width: 50px;
	margin-bottom: 5px;
}