nav {
	background-color: black;
	color: white;
}

.navbar-brand {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 20px;
}
  
  .navbar-brand img {
	width: 100px;
	max-height: 70px;
}

.nav-menu {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	text-align: center;
	margin: 0;
	
}

.nav-menu div {
	padding: 10px;
	margin-right: 100px;
	text-decoration: none;
}

.nav-menu div:hover {
	background-color: rgb(204, 232, 250);
	height: 100%;
	border-radius: 3px;
}

.linky {
	color: white;
}

.linky:hover {
	text-decoration: none;
	color: black;
}

.log-out {
	margin-right: 30px;
}


