.detail {
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(5, 20, 155, 0.2);
	-moz-box-shadow: 0px 0px 5px 5px rgba(5, 20, 155, 0.2);
	box-shadow: 0px 0px 5px 5px rgba(5, 20, 155, 0.2);
}

.post-image {
	width: 150px;
}

.card-header {
	display: flex;
}

.edit-post-head {
	margin-top: 20px;
	margin-left: 5%;
	text-align: left;
}

.card-title {
	font-size: 25px;
}

.card-footer {
	display: flex;
	justify-content: space-between;
}

.boxy {
	margin: 0 auto;
}

.comments-title {
	color: #01274b;
	margin: 20px;
}