.items {
    border-radius: 18px;
    border-width: 2px;
    border-style: solid;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(5, 20, 155, 0.2);
	-moz-box-shadow: 0px 0px 5px 5px rgba(5, 20, 155, 0.2);
	box-shadow: 0px 0px 5px 5px rgba(5, 20, 155, 0.2);
}

.rounded-circle {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.tags {
    font-size: 13px;
    line-height: 20px;
    cursor: pointer
}

.about {
    font-size: 14px
}

.user-info {
	display: flex;
	flex-direction: column;
}

.user-info hr {
    width: 100%
}

.header {
    background-color: gainsboro;
    padding: 30px;
    border-top-left-radius: 18px;
	border-top-right-radius: 18px;
    width: 100%;
}

.name:hover {
    text-decoration: none;
}

.user-title {
    margin-left: 5%;
    text-align: left;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

.oppinfo {
    font-size: 14px;
    text-align: left;
    margin: 20px 10px;
}

.oppinfo p {
    margin: 10px;
}

.about-title {
    color: rgb(0, 0, 0);
}

.footer {
    background-color: rgb(255, 255, 205);
    padding: 10px 10px 5px;
    border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
    width: 100%;
}

.interactions {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}